* {
    margin: 0;
    padding: 0;
    /* border: solid red 1px; */
}

header {
    display: flex;
    justify-content: space-around;
    background-color: #1f2937 ;
    color: #F9FAF8;
    font-family: 'Roboto', sans-serif;
    height: 70px;
}

.logo p {
    font-size: 24px ;
    font-weight: 600;
    margin-top: 20px;
    
}

.nav-links {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin-top: 5px

   
}
li {
    margin: 20px;
}